.ProjectItem {
  font-size: 5rem;
  line-height: 1.75;
  margin: 35px 35px 0 66px;
  color: white;
  .project {
    margin-top: 10%;
    display: flex;
    flex-flow: column wrap;
    padding: 10%;
    justify-content: flex-start;
    a {
      font-size: 2.5rem
    }
    img {
      width: 50%;
      border-radius: 5%;
      margin: 5%;
    }
    li {
      list-style: square;
      font-size: 2rem;
    }
  }
}