// Variables
$primary-color: #2980b9; // A vibrant blue
$secondary-color: #ecf0f1; // Light gray
$accent-color: #e74c3c; // A bold red for accents
$text-color: #333; 
$font-family: 'Roboto', sans-serif; // A modern sans-serif font

// Mixins
@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}

.resume {
  font-size: 15px;
  background-color: $secondary-color;
  padding: 30px;
  font-family: $font-family;
  color: $text-color;

  a,
  a:visited {
    color: $primary-color;
    text-decoration: none; 
    transition: color 0.2s ease; // Smooth transition for hover effect

    &:hover {
      color: $accent-color;
    }
  }

  h2 {
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    position: relative; // For the line element

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: $accent-color;
    }
  }

  h3 {
    color: $text-color;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }

  .section {
    margin-bottom: 3rem;

    .content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }
  }

  .educationItem,
  .job {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none; 
    }
  }

  .info, .date {
    font-size: 1.5rem;
    color: #7f8c8d; // Slightly lighter text color
    margin-bottom: 1rem;

    span {
      margin: 0 0.5rem;

      &::before { // Add a visually appealing bullet point
 
        color: $accent-color;
        margin-right: 5px;
      }
    }
  }


  .skillsList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Responsive columns
    gap: 1rem; 
    .skill {
      .skillBar {
        background-color: #ecf0f1;
        border-radius: 20px; 
        overflow: hidden;

        .skillFill {
          height: 10px; 
          background-color: $primary-color;
          border-radius: 50px;
          transition: width 0.3s ease;
        }

        .skillName {
          padding: 10px;
          text-align: center;
          font-weight: bold;
          color: $text-color;
        }
      }
    }
  }


  // Responsive adjustments
  @include responsive(tablet) {
    padding: 20px; 

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  @include responsive(mobile) {
    padding: 15px;

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.3rem;
    }
  }
}