
@mixin h1{
    font-weight: bold;
    font-size: 4rem;
}
.home {
    img {
        width: 25%;
        border-radius: 50%;
    }
    .header {
        h1 {
            @include h1
        }
    }  
}

.About {
    background-color: #7510F7;
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        h1 {
            @include h1
        }

    }
}

.workContainer {
    margin: 2%;
    flex-wrap: wrap;
    border: groove;
    border-radius: 25%;
    background-color: #c3b7b7;
    box-shadow: 10px 10px 8px #888888;
    .workContent {
        text-align: center;
    }
    p {
        margin-bottom: 5%;
    }
}
section {
    h2 {
        font-size: 4rem;
        margin-bottom: 30px;
        text-align: center;
    }
}

.portfolio {
    .projects{
        flex-wrap: wrap;
        display: flex; 
        justify-content: center;
        align-items: baseline;
        .row {
            padding: 50px;
            width: 30%;
            text-align: center;
            margin-top: 10%;
            margin: 2%;
            border-radius: 15%;
        a {
            text-decoration: none;
            color: #334568;
        }
            img {
                width: 50%;
                border-radius: 50%;
            }
        }
    }
    footer {
        margin-top: 15%;
    }
}

.contact {
    padding-top: 30px;
    border-top: 1px groove #62533D;
    .social-header {
        text-align: center;
    }
    .social-links {
        display: flex; 
        align-items: center;
        justify-content: space-around;
        height: 50px;
        a {
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
    .contactInfo {
        border-bottom: 2px ridge;
    }
    footer {
        flex: center;
        justify-content: center;
        height: 70px;
    }
}