.About {
  color:white;
  line-height: 1.2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  .about-header {
    font-weight: bold;
    font-family: 'sans-serif';
    font-size: 5vw;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .about-body {
    h1 {
      text-align: left;
      font-size: 10vw;
    }
    p{ 
      font-size: 3vw;
      font-weight:lighter;
      margin-bottom: 3vh;
    }
  }
}