.contact-page-container {
    
}
.contact-page-header {
    margin: 5%;

    h2 {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: underline;
    }
}

.contactForm {
    padding: 5%;
    margin: 2%;
    border: groove;
    border-radius: 25%;
    background-color: #c3b7b7;
    box-shadow: 10px 10px 8px #888888;

    button {
        font-size: 1em;
    }
}

li {
    list-style: none;
}

.contact-page-footer {
    display: flex;
    justify-content: space-around; 
    @media (max-width: 700px) {
        display: block
    }
}