.contact {
  font-size: 4rem;
  color: #fff;
  line-height: 1.75;
  div {
    height:75vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
    font-size: 2rem
  }
  .social-links {
    align-self: flex-end;
    width: 33%;
  }
}