a {
  margin: 10px
}
.contact {
  font-size: 4rem;
  color: #fff;
  line-height: 1.75;
  div {
    height:75vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .title {
      font-size: 5vw;
      font-weight: bold;
    }
    .info {
      font-size: 3vw;
      text-align: left;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    font-size: 2vw;
  }
  .social-links {
    align-self: flex-end;
    width: 20%;
  }
}