
.home {
  font-size: 10vw;
  display: flex;
  justify-content: space-between;
  .links {
    align-self: flex-start;
  }
  a:first-child {
    color: white;
  }
  a:nth-child(2) {
    color: crimson
  }
  a:nth-child(3) {
    color:crimson
  }
  img {
    width: 33%;
    border-radius: 50%
  }
}
