html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}
body {
  font-size: 2rem;
}
.contact {
  border: 1px solid green;
  background-color: white;
  margin-bottom: 5%;
}

form {
  margin-bottom: 5%;
}
