nav {
    background-color: #C3B7B7;
    border: groove;
    box-shadow: 10px 10px 8px #888888;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #00303F;
                &:hover {
                    color: black;
                }
            }
        }
    }
}