
.resume-page-container {
    section{
        margin-bottom: 10%;
        margin-top: 10%;
        .info {
            display: flex;
            justify-content: space-between;
        }
        h1 {
            font-size: 3rem;
            margin-bottom: 3%;
            color: crimson;
            text-transform: uppercase;
        }
        .dates {
            font-size: 2rem;
            color: cadetblue;
        }
        p {
            font-size:2rem;
            font-weight: bold;
            font-style: italic; 
            text-align: left;
        }
        ul {
            font-size: 2rem;
            margin-top: 2%;
            color:white;
            line-height: 1.5;
            margin-bottom: 10%;
            margin-left: 10%;
            li {
                list-style-type: square;
                text-align: left;
            };
        }
    }   
}
hr {
    width: 40%;
}
