// Variables
$primary-color: #2980b9; // Vibrant blue
$secondary-color: #ecf0f1; // Light gray
$accent-color: #e74c3c; // Bold red for accents
$text-color: #333;


$font-family: 'Roboto', sans-serif; // Modern sans-serif font


.about {
  background-color: $secondary-color;
  padding: 30px;
  font-family: $font-family;
  display: flex; // Use flexbox for layout
  flex-wrap: wrap;
  justify-content: center;
  .profileWrapper {
    .profilePic {
      object-fit: cover; 
      border-radius: 20px;
    }
  }

  .content {
    max-width: 800px;
    margin-left: 70px;
    h2 {
      color: $primary-color;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .resume_btn {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
    }

    p {
      font-size: 1.75rem;
      line-height: 1.6; 
      color: #7f8c8d; 
    }

    .contactDetails {
      margin-top: 5rem; 
      address {
        .address {
          span {
            display: block; 
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .download {
      margin-top: 2rem;
      text-align: center;
      .button {
        background-color: $primary-color;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.71rem;
        cursor: pointer;
        text-decoration: none; 
        display: inline-flex; // Use inline-flex to align icon and text
        align-items: center; 
        transition: background-color 0.3s ease; 

        &:hover {
          background-color: $primary-color; 
        }

        i {
          margin-right: 8px; 
        }
      }
    }
  }
  a {
    color: black;
  }
}

@media only screen and (max-width: 904px) {
  .about {
    .content {
      margin: 0 auto;
    }
    h2 {
      text-align: center;
    }
    
    .profileWrapper {

      .profilePic {
        border-radius: 0%;
        margin-bottom: 40px;
      }
    }
  }
}